<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="osgi-hello-world-01-minimal" sequenceNumber="36">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.core.sdk.feature.group" version="3.11.1.v20150831-1342"/>
<repository location="http://download.eclipse.org/releases/mars/"/>
</location>
</locations>
<includeBundles>
<plugin id="org.eclipse.osgi"/>
<plugin id="org.eclipse.osgi.source"/>
</includeBundles>
</target>
