<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="osgi-hello-world-16-servlet-guice-peaberry-module" sequenceNumber="67">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.server.jetty.feature.group" version="1.2.1.v20150828-1818"/>
<unit id="org.eclipse.equinox.core.sdk.feature.group" version="3.11.1.v20150831-1342"/>
<repository location="http://download.eclipse.org/releases/mars/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.apache.servicemix.bundles.javax-inject" version="1.0.0.1"/>
<unit id="org.ops4j.peaberry.activation" version="1.3.0"/>
<unit id="javax.ws.rs-api" version="2.0.1"/>
<unit id="org.sonatype.sisu.guice" version="3.2.6"/>
<unit id="aopalliance" version="1.0.0"/>
<unit id="com.google.guava" version="16.0.1"/>
<unit id="org.ops4j.peaberry" version="1.3.0"/>
<unit id="org.glassfish.jersey.core.jersey-server" version="2.22.1"/>
<unit id="org.glassfish.jersey.containers.jersey-container-servlet-core" version="2.22.1"/>
<repository location="http://localhost:9999/site/5"/>
</location>
</locations>
<includeBundles>
<plugin id="aopalliance"/>
<plugin id="com.google.guava"/>
<plugin id="javassist"/>
<plugin id="javax.annotation-api" version="1.2"/>
<plugin id="javax.servlet" version="3.1.0.v201410161800"/>
<plugin id="javax.validation.api"/>
<plugin id="javax.ws.rs-api"/>
<plugin id="org.aopalliance"/>
<plugin id="org.apache.felix.gogo.command"/>
<plugin id="org.apache.felix.gogo.command.source"/>
<plugin id="org.apache.felix.gogo.runtime"/>
<plugin id="org.apache.felix.gogo.runtime.source"/>
<plugin id="org.apache.felix.gogo.shell"/>
<plugin id="org.apache.felix.gogo.shell.source"/>
<plugin id="org.apache.servicemix.bundles.javax-inject" version="1.0.0.1"/>
<plugin id="org.eclipse.equinox.console"/>
<plugin id="org.eclipse.equinox.console.source"/>
<plugin id="org.eclipse.equinox.ds"/>
<plugin id="org.eclipse.equinox.ds.source"/>
<plugin id="org.eclipse.equinox.http.jetty"/>
<plugin id="org.eclipse.equinox.http.jetty.source"/>
<plugin id="org.eclipse.equinox.http.servlet"/>
<plugin id="org.eclipse.equinox.http.servlet.source"/>
<plugin id="org.eclipse.equinox.util"/>
<plugin id="org.eclipse.equinox.util.source"/>
<plugin id="org.eclipse.jetty.http"/>
<plugin id="org.eclipse.jetty.http.source"/>
<plugin id="org.eclipse.jetty.io"/>
<plugin id="org.eclipse.jetty.io.source"/>
<plugin id="org.eclipse.jetty.security"/>
<plugin id="org.eclipse.jetty.security.source"/>
<plugin id="org.eclipse.jetty.server"/>
<plugin id="org.eclipse.jetty.server.source"/>
<plugin id="org.eclipse.jetty.servlet"/>
<plugin id="org.eclipse.jetty.servlet.source"/>
<plugin id="org.eclipse.jetty.util"/>
<plugin id="org.eclipse.jetty.util.source"/>
<plugin id="org.eclipse.osgi" version="3.10.101.v20150820-1432"/>
<plugin id="org.eclipse.osgi.services"/>
<plugin id="org.eclipse.osgi.services.source"/>
<plugin id="org.eclipse.osgi.source" version="3.10.101.v20150820-1432"/>
<plugin id="org.glassfish.hk2.api"/>
<plugin id="org.glassfish.hk2.locator"/>
<plugin id="org.glassfish.hk2.osgi-resource-locator"/>
<plugin id="org.glassfish.hk2.utils"/>
<plugin id="org.glassfish.jersey.bundles.repackaged.jersey-guava"/>
<plugin id="org.glassfish.jersey.containers.jersey-container-servlet-core"/>
<plugin id="org.glassfish.jersey.core.jersey-client"/>
<plugin id="org.glassfish.jersey.core.jersey-common"/>
<plugin id="org.glassfish.jersey.core.jersey-server"/>
<plugin id="org.ops4j.peaberry"/>
<plugin id="org.ops4j.peaberry.activation"/>
<plugin id="org.sonatype.sisu.guice"/>
</includeBundles>
</target>
