<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.EquinoxLauncher">
<booleanAttribute key="automaticAdd" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-clean"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Declipse.ignoreApp=true -Dosgi.noShutdown=true -Dorg.osgi.service.http.port=9090 -Dorg.eclipse.equinox.http.jetty.log.stderr.threshold=info"/>
<stringAttribute key="pde.version" value="3.3"/>
<stringAttribute key="target_bundles" value="com.eclipsesource.jaxrs.jersey-all@default:default,com.eclipsesource.jaxrs.publisher@default:default,javax.servlet@default:default,org.apache.commons.fileupload@default:default,org.apache.commons.io@default:default,org.apache.felix.webconsole@default:default,org.eclipse.equinox.ds@1:true,org.eclipse.equinox.http.jetty@default:default,org.eclipse.equinox.http.servlet@default:default,org.eclipse.equinox.util@default:default,org.eclipse.jetty.http@default:default,org.eclipse.jetty.io@default:default,org.eclipse.jetty.security@default:default,org.eclipse.jetty.server@default:default,org.eclipse.jetty.servlet@default:default,org.eclipse.jetty.util@default:default,org.eclipse.osgi.services@default:default,org.eclipse.osgi@-1:true,org.json@default:default"/>
<stringAttribute key="workspace_bundles" value="osgi-hello-world-07-servlet-webconsole@default:default"/>
</launchConfiguration>
