<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.EquinoxLauncher">
<booleanAttribute key="automaticAdd" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Declipse.ignoreApp=true"/>
<stringAttribute key="pde.version" value="3.3"/>
<stringAttribute key="target_bundles" value="org.eclipse.osgi@-1:true"/>
<stringAttribute key="workspace_bundles" value="osgi-hello-world-02-testable@default:default"/>
</launchConfiguration>
